<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kurzy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css') }}">
</head>

<body>
    <h1>Výber z databázy</h1>
        <a href="/treneri-kurzy"><button>Zobraz všetkých trénerov a ich kurzy</button></a>
        <a href="/kurzy"><button>Zobraz všetky kurzy</button></a>
        <a href="/miesta"><button>Zobraz všetky miesta</button></a>
        <a href="/maximalna-kapacita-p"><button>Výpis súčtu maximálnej kapacity všetkých kurzov, ktoré začínajú na písmeno P</button></a>
        <a href="/registracia-trenera"><button>Registruj trénera</button></a>
        <a href="/pridaj_kurz"><button>Pridaj kurz</button></a>
        <hr>
</body>
</html>