<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kurzy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css') }}">
</head>

<body>
     <h2 style="text-align:center;">Zoznam trénerov a ich kurzy</h2>
    <table>
        <thead>
            <tr>
                <th>ID trénera</th>
                <th>Meno</th>
                <th>Priezvisko</th>
                <th>Názov kurzu</th>
            </tr>
        </thead>
        <tbody>
            {% for trener in kurzy1 %}
            <tr>
                <td>{{ trener.ID_trenera }}</td>
                <td>{{ trener.Meno }}</td>
                <td>{{ trener.Priezvisko }}</td>
                <td>{{ trener.Nazov_kurzu }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Späť</a>
</body>
</html>